# Ignore CSV files related to Kindle books and Amazon scraping
kindle_books.csv
kindle_books\ 2.csv
scraped_amazon_data.csv

# Ignore Amazon cookies file
amazon_cookies.pkl

# Ignore chromedriver ZIP file
chromedriver-mac-arm64.zip

# Ignore old scraper script
amazonscraperOLD.py

# Ignore Excel files
*.xlsx

# Ignore macOS specific system files
.DS_Store

# Ignore failed URLs CSV
failed_urls.csv
